@charset "UTF-8";
/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/******************************************************

    MAIN THEME

******************************************************/
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ===================================================
COMPONENT CARD
=================================================== */
/* ===================================================
COMPONENT CHIPS
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
TABS COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Variables
--------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
@keyframes fadeEffect {
  0% {
    opacity: 0;
    transform: translate3d(20%, 0, 0); }
  50% {
    transform: none; }
  100% {
    opacity: 1; } }

.c-tabs {
  position: relative; }

.c-tabs__cta-list-wrapper {
  margin-bottom: 1rem; }
  @media only screen and (min-width: 657px) {
    .c-tabs__cta-list-wrapper {
      margin-bottom: 2rem; } }
  @media only screen and (min-width: 992px) {
    .c-tabs__cta-list-wrapper {
      margin-bottom: 3rem; } }

.c-tabs__cta-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: -4px;
  padding: 0;
  overflow-y: scroll; }
  .c-tabs__cta-list .c-tabs__cta-wrapper {
    margin: 4px 4px; }

.c-tabs__cta-wrapper {
  display: inline-block;
  flex-shrink: 0; }

.c-tabs__cta {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 16px 28px;
  border: 0;
  border-bottom: 1px solid #E1E1E1;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-shadow: none;
  text-align: center;
  color: #121212;
  text-decoration: none;
  font-weight: 600;
  background-color: transparent; }
  .c-tabs__cta:hover {
    color: #121212; }
  .c-tabs__cta:focus {
    color: #121212; }
  .c-tabs__cta:hover {
    background-color: #F2F2F2; }
  .c-tabs__cta:focus {
    background-color: transparent; }
  .c-tabs__cta:focus {
    outline: 0;
    border-bottom-width: 4px; }
  .c-tabs__cta.is-active {
    color: #00693C;
    border-bottom-color: #00693C;
    border-bottom-width: 4px; }

.c-tabs__content-wrapper {
  position: relative; }

.c-tabs__content {
  display: block;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all .2s ease-in-out; }
  .c-tabs__content.is-active {
    position: relative;
    animation: fadeEffect 1s;
    opacity: 1;
    z-index: 1; }

/* ---------------------------------------------------
Context: right
--------------------------------------------------- */
.c-tabs--cta-right .c-tabs__cta-list {
  justify-content: flex-end; }

/* ---------------------------------------------------
Context: center
--------------------------------------------------- */
.c-tabs--cta-center .c-tabs__cta-list {
  justify-content: center; }

/* ---------------------------------------------------
Context: space between
--------------------------------------------------- */
.c-tabs--cta-space .c-tabs__cta-list {
  justify-content: space-between; }

/* ---------------------------------------------------
Context: stack
--------------------------------------------------- */
.c-tabs--cta-stack .c-tabs__cta-list {
  flex-direction: column; }

/* ---------------------------------------------------
Context: arrows
--------------------------------------------------- */
.c-tabs--arrows .c-tabs__cta-list-wrapper {
  padding: 0 40px; }

.c-tabs--arrows:before {
  font-family: "iconfont";
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 16px; }

.c-tabs--arrows:after {
  font-family: "iconfont";
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 16px; }

/* ---------------------------------------------------
Context: color schemes
--------------------------------------------------- */
.cs-light-wrapper .c-tabs__cta {
  color: #fff; }
  .cs-light-wrapper .c-tabs__cta:hover {
    color: #fff; }
  .cs-light-wrapper .c-tabs__cta:focus {
    color: #fff; }
  .cs-light-wrapper .c-tabs__cta.is-active {
    color: #fff;
    border-bottom-color: #fff; }
