@charset "UTF-8";
/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT COPY
=================================================== */
/* ===================================================
COMPONENT UPLOAD
=================================================== */
/* ===================================================
COMPONENT MESSAGE
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
MESSAGE COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-message {
  display: none;
  align-items: center;
  padding: 12px 16px;
  font-size: 1rem;
  border: 2px solid; }
  .c-message:before {
    font-family: "iconfont";
    display: inline-block;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    margin-right: 12px; }
  .c-message.show {
    display: flex; }
  .c-message.is-error {
    display: flex;
    background-color: #f2b5a4;
    border-color: #EE7555; }
    .c-message.is-error:before {
      content: ""; }
  .c-message.is-success {
    display: flex;
    background-color: #c3ddb6;
    border-color: #90C579; }
    .c-message.is-success:before {
      content: ""; }
  .c-message.is-info {
    display: flex;
    background-color: #D9EEFF;
    border-color: #00B4F0; }
    .c-message.is-info:before {
      content: ""; }
  .c-message.is-warning {
    display: flex;
    background-color: #fbe683;
    border-color: #FFD714; }
    .c-message.is-warning:before {
      content: ""; }
