/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/******************************************************

    MAIN THEME

******************************************************/
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ===================================================
COMPONENT CARD
=================================================== */
/* ===================================================
COMPONENT CHIPS
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
BADGE COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-badge {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 16px;
  min-width: 24px;
  height: 24px;
  border-radius: 25px;
  background: #00693C; }
  .c-badge.bg-highlight {
    background: #E60050; }
  .c-badge.bg-info {
    background: #00B4F0;
    color: #121212; }
  .c-badge.bg-danger {
    background: #F07855;
    color: #121212; }
  .c-badge.bg-warning {
    background: #FFD714;
    color: #121212; }
  .c-badge.bg-success {
    background: #91C878;
    color: #121212; }

.c-badge-group .c-badge {
  margin: 0 .25rem .5rem 0; }

/* ---------------------------------------------------
Context: round
--------------------------------------------------- */
.c-badge--round {
  padding: 0 8px; }

/* ---------------------------------------------------
Context: size medium
--------------------------------------------------- */
.c-badge--medium {
  font-size: 1.125rem;
  min-width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem; }

/* ---------------------------------------------------
Context: size large
--------------------------------------------------- */
.c-badge--large {
  font-size: 1.5rem;
  min-width: 3rem;
  height: 3rem;
  line-height: 3rem; }

/* ---------------------------------------------------
Context: Position Absolut right/top
--------------------------------------------------- */
.c-badge--right-top {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0;
  margin: 0; }

/* ---------------------------------------------------
Context: notification
--------------------------------------------------- */
.c-badge--notification {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  min-width: 8px;
  height: 8px;
  width: 8px;
  background: #E60050; }

/*# sourceMappingURL=badge.css.map */