/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT COPY
=================================================== */
/* ===================================================
COMPONENT UPLOAD
=================================================== */
/* ===================================================
COMPONENT MESSAGE
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
VIDEO COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-video {
  position: relative; }
  .c-video:hover .c-video__btn-play {
    opacity: 1; }
  .c-video .cookieconsent-optout-marketing {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: repeating-linear-gradient(45deg, #F7F6F4, #F7F6F4 10px, #ffffff 10px, #ffffff 20px); }

.c-video__native {
  display: block;
  width: 100%;
  height: 100%; }

.c-video__btn-play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity .2s linear;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  font-size: 5.625rem;
  line-height: 1;
  padding: 1rem;
  background: transparent;
  color: #fff; }
  .c-video__btn-play:hover {
    color: #00B4F0; }
  .c-video__btn-play:focus {
    outline: 0; }
  .c-video__btn-play.is-playing {
    opacity: 0; }
  .c-video__btn-play .ic {
    pointer-events: none; }

/* ---------------------------------------------------
Context: iFrame
--------------------------------------------------- */
.c-video--iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .c-video--iframe .c-video__iframe-native {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
