/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/******************************************************

    MAIN THEME

******************************************************/
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ===================================================
COMPONENT CARD
=================================================== */
/* ===================================================
COMPONENT CHIPS
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
FILE UPLOAD COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-file-upload {
  position: relative; }

.c-file-upload__native {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }
  .c-file-upload__native::placeholder + .c-file-upload__label {
    opacity: .5; }
  .c-file-upload__native:focus + .c-file-upload__label,
  .c-file-upload__native:invalid + .c-file-upload__label,
  .c-file-upload__native:focus:invalid + .c-file-upload__label {
    outline: none !important;
    border-color: #005C34 !important; }
  .c-file-upload__native.disabled + .c-file-upload__label,
  .c-file-upload__native:disabled + .c-file-upload__label {
    outline: none !important;
    color: #6c757d !important; }
  .c-file-upload__native.edge-autofilled {
    background: rgba(255, 255, 255, 0.2) !important;
    color: #F07855 !important; }
  .c-file-upload__native.is-error {
    border: 1px solid #F07855; }
    .c-file-upload__native.is-error + .c-form__error {
      display: block; }

.c-file-upload__label {
  width: 100%;
  font-weight: 400;
  border: 1px solid #00693C;
  border-radius: 3px;
  background-color: #fff;
  color: #00693C;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .c-file-upload__label .ic {
    font-size: 1.3333333333rem;
    margin-right: 1rem; }

.c-file-upload__hint {
  margin: .5rem 0; }

.c-file-upload__filename {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7777777778rem;
  padding: .5rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(225, 225, 225, 0.7); }

.c-file-upload__delete-filename {
  font-size: 1.3333333333rem;
  color: #00693C;
  cursor: pointer; }

.c-file-upload__filename-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/* ---------------------------------------------------
Context: color schemes
--------------------------------------------------- */
.cs-light .c-form .c-form__label, .cs-light.c-form .c-form__label {
  color: #fff; }

/*# sourceMappingURL=file-upload.css.map */