/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT COPY
=================================================== */
/* ===================================================
COMPONENT UPLOAD
=================================================== */
/* ===================================================
COMPONENT MESSAGE
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
TOOLTIP COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-tooltip {
  position: relative;
  display: inline-block; }
  .c-tooltip:hover .c-tooltip__hint {
    visibility: visible;
    opacity: 1;
    margin-top: -6px; }
  .c-tooltip .c-tooltip__opener-wrapper {
    cursor: pointer; }
    .c-tooltip .c-tooltip__opener-wrapper:hover {
      color: #00B4F0; }

.c-tooltip__hint {
  position: absolute;
  display: block;
  text-align: center;
  width: 200px;
  background-color: #00B4F0;
  color: #fff;
  padding: 1rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -100%);
  transition: all .2s linear; }
  .c-tooltip__hint:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: 3px;
    border-right: 6px solid transparent;
    border-top: 6px solid #00B4F0;
    border-left: 6px solid transparent; }

/* ---------------------------------------------------
Context: (Modifier)
--------------------------------------------------- */
/* ---------------------------------------------------
Context: color schemes
--------------------------------------------------- */
.cs-light .c-tooltip .c-tooltip__opener-icon,
.cs-light .c-tooltip .c-tooltip__opener-text {
  color: #006A3A;
  border-bottom-color: #006A3A; }
  .cs-light .c-tooltip .c-tooltip__opener-icon:hover,
  .cs-light .c-tooltip .c-tooltip__opener-text:hover {
    color: #001e10;
    border-bottom-color: #001e10; }
  .cs-light .c-tooltip .c-tooltip__opener-icon:focus,
  .cs-light .c-tooltip .c-tooltip__opener-text:focus {
    color: #006A3A;
    border-bottom-color: #006A3A; }
