/* ===================================================
IDE-EDITMODE IMPORTS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/******************************************************

    MAIN THEME

******************************************************/
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ===================================================
COMPONENT CARD
=================================================== */
/* ===================================================
COMPONENT CHIPS
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
SIDE NAV COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-side-nav {
  position: relative; }

.c-side-nav__nav-wrapper {
  line-height: 2rem;
  padding: 0 1rem 3rem; }
  .c-side-nav__nav-wrapper ul {
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0; }
    .c-side-nav__nav-wrapper ul ul {
      padding-left: 0.5rem;
      margin: 0 0.75rem 1.5rem 0; }
      .c-side-nav__nav-wrapper ul ul ul {
        padding: 0;
        margin: 0 0 0 0.5rem; }
        .c-side-nav__nav-wrapper ul ul ul li {
          list-style: disc;
          margin-left: 1.5rem; }
  .c-side-nav__nav-wrapper li {
    list-style: none;
    line-height: 1;
    padding: 0; }
    .c-side-nav__nav-wrapper li i {
      margin-right: 6px; }
  .c-side-nav__nav-wrapper p {
    font-weight: 700;
    border-bottom: solid 1px #eaeef1;
    margin: 0 0.75rem 0.5rem 0; }
  .c-side-nav__nav-wrapper .c-side-nav__sub-sidebar {
    display: none; }
  .c-side-nav__nav-wrapper a {
    line-height: 1.5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-bottom: none;
    display: block;
    text-decoration: none;
    color: #121212; }
    .c-side-nav__nav-wrapper a.is-active {
      font-weight: 900;
      color: #006A3A; }
      .c-side-nav__nav-wrapper a.is-active:hover {
        color: #005C34; }
      .c-side-nav__nav-wrapper a.is-active:focus {
        color: #005C34; }
      .c-side-nav__nav-wrapper a.is-active + .c-side-nav__sub-sidebar {
        display: block; }

.c-side-nav__nav-toggle {
  position: absolute;
  height: 34px;
  top: -2rem;
  right: -81px;
  display: inline-block;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  transition: right 400ms ease-out;
  padding: .5rem 1rem;
  border: 2px solid #efefef;
  border-radius: 9px;
  color: #3f3d56;
  font-size: 0.875rem;
  background-color: #fff; }
  @media only screen and (min-width: 768px) {
    .c-side-nav__nav-toggle {
      right: -105px; } }
  @media only screen and (min-width: 1200px) {
    .c-side-nav__nav-toggle {
      right: 10px; } }
  .c-side-nav__nav-toggle .ic {
    transition: transform 400ms ease-out; }
  .c-side-nav__nav-toggle:focus {
    outline: 0; }

.c-side-nav__toggle-icon {
  position: relative;
  display: block;
  pointer-events: none;
  width: 20px;
  height: 2px;
  background: #3f3d56; }
  .c-side-nav__toggle-icon:after, .c-side-nav__toggle-icon:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    background: #3f3d56; }
  .c-side-nav__toggle-icon:before {
    bottom: 6px; }
  .c-side-nav__toggle-icon:after {
    top: 6px; }

.c-side-nav__picture-wrapper {
  padding: 0 1.5rem;
  margin: 1.5rem auto 2rem;
  font-size: 1.5rem;
  font-weight: 300; }
  .c-side-nav__picture-wrapper .c-cta {
    padding: .5rem 1rem;
    margin: 0 6px 6px 0;
    border: 2px solid #efefef;
    border-radius: 9px;
    color: #3f3d56;
    font-size: 0.875rem;
    background-color: #fff;
    box-shadow: none; }
    .c-side-nav__picture-wrapper .c-cta:before {
      content: none; }
    .c-side-nav__picture-wrapper .c-cta:hover {
      border-color: #706d8e; }

.c-side-nav__picture-link {
  display: block;
  margin-bottom: 1.5rem; }

/* ===================================================
SIDE NAV COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-code-block {
  position: relative;
  background-color: #fff;
  margin-bottom: 1.5rem;
  border: 1px solid #e4e4e7; }
  @media only screen and (min-width: 768px) {
    .c-code-block {
      margin-bottom: 0; } }

.c-code-block__intro .c-text p:last-child {
  margin-bottom: 1rem; }

.c-code-block__preview {
  padding: 1rem; }
  .c-code-block__preview ~ .c-code-block__buttons {
    border-top: solid 1px #e4e4e7; }

.c-code-block__source {
  background-color: #f9f9f9; }

.c-code-block__source-wrapper {
  position: relative;
  display: none; }
  .c-code-block__source-wrapper.is-active {
    display: block; }
    .c-code-block__source-wrapper.is-active + .c-code-block__buttons .c-code-block__toggle svg {
      transform: rotate(180deg); }
  .c-code-block__source-wrapper:hover .c-code-block__copy-code-button {
    opacity: 1; }

.c-code-block__buttons {
  position: relative;
  display: flex; }

.c-code-block__button {
  flex: 0 0 auto;
  height: 2.5rem;
  min-width: 2.5rem;
  border: none;
  border-radius: 0;
  background: #fff;
  font: inherit;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #545e67;
  padding: 0 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .c-code-block__button:hover {
    box-shadow: 0 0 0 1px #00B4F0;
    border-right-color: transparent;
    background-color: #f0fbff;
    color: #00B4F0;
    z-index: 1; }

.c-code-block--expanded .c-code-block__source {
  display: block; }

.c-code-block__toggle {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #545e67;
  cursor: pointer;
  -webkit-appearance: none; }
  .c-code-block__toggle:focus {
    outline: none; }

.c-code-block__toggle svg {
  width: 1em;
  height: 1em;
  margin-left: 0.25rem; }

.c-code-block--expanded .c-code-block__toggle svg {
  transform: rotate(180deg); }

.c-code-block__copy-code-button {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #fff;
  border-radius: 6px;
  border: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px;
  user-select: none;
  transition: 0.1s all;
  cursor: pointer;
  opacity: 0; }

.c-code-block__copy-code-button.copied {
  animation: pulse 0.75s;
  --pulse-color: $color-darkgray; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #545e67; }
  70% {
    box-shadow: 0 0 0 0.5rem transparent; }
  100% {
    box-shadow: 0 0 0 0 transparent; } }

.c-code-block__copy-code-button .label {
  transition: none; }

.c-code-block__copy-code-button .success,
.c-code-block__copy-code-button .error {
  display: none; }

.c-code-block__copy-code-button:focus-visible {
  outline: var(--sl-focus-ring);
  outline-offset: var(--sl-focus-ring-offset); }

.c-code-block__copy-code-button:active {
  background-color: #fff;
  transform: scale(0.92); }

/* ===================================================
IDE-EDITMODE IMPORT
=================================================== */
/* ===================================================
HIGHLIGHT HELPER STYLES
=================================================== */
.hljs {
  display: block;
  padding: .5em;
  background: #f0f0f0; }

.hljs,
.hljs-subst,
.hljs-tag .hljs-title,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title {
  color: black; }

.hljs-string,
.hljs-title,
.hljs-constant,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-rules .hljs-value .hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.haml .hljs-symbol,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-aggregate,
.hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-addition,
.hljs-flow,
.hljs-stream,
.bash .hljs-variable,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.tex .hljs-special,
.erlang_repl .hljs-function_or_atom,
.asciidoc .hljs-header,
.markdown .hljs-header,
.coffeescript .hljs-attribute {
  color: #800; }

.smartquote,
.hljs-comment,
.hljs-annotation,
.hljs-template_comment,
.diff .hljs-header,
.hljs-chunk,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
  color: #888; }

.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #080; }

.hljs-label,
.hljs-javadoc,
.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-important,
.hljs-pseudo,
.hljs-pi,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.apache .hljs-sqbracket,
.nginx .hljs-built_in,
.tex .hljs-formula,
.erlang_repl .hljs-reserved,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.vhdl .hljs-attribute,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute,
.coffeescript .hljs-property,
.hljs-phony {
  color: #88f; }

.hljs-keyword,
.hljs-id,
.hljs-title,
.hljs-built_in,
.hljs-aggregate,
.css .hljs-tag,
.hljs-javadoctag,
.hljs-phpdoc,
.hljs-yardoctag,
.smalltalk .hljs-class,
.hljs-winutils,
.bash .hljs-variable,
.apache .hljs-tag,
.go .hljs-typename,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong,
.hljs-request,
.hljs-status {
  font-weight: bold; }

.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis {
  font-style: italic; }

.nginx .hljs-built_in {
  font-weight: normal; }

.coffeescript .javascript,
.javascript .xml,
.lasso .markup,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: .5; }

pre {
  margin-bottom: 0; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #f6f6f9; }

.cs-light.hljs,
.cs-light .hljs {
  background: #0d131e; }

.hljs,
.hljs-tag,
.hljs-subst {
  color: #6b7280; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff; }

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #E73252; }

.hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

.hljs-name {
  color: #5285ca; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-attr {
  color: #31d46d; }

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef; }

.hljs-params,
.hljs-class .hljs-title {
  color: #6b7280; }

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #9237e4; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e; }

/* ===================================================
BASICS
=================================================== */
body > header,
body > main,
body > footer {
  background: #fafafa;
  transition: padding-left 400ms ease-out; }
  @media only screen and (min-width: 1200px) {
    body > header,
    body > main,
    body > footer {
      padding-left: 300px; } }

header .c-header.is-active {
  width: calc(100% - 300px); }

aside {
  position: fixed;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  padding: 40px 0 0;
  top: 0;
  bottom: 0;
  left: -300px;
  transition: left 400ms ease-out;
  background-color: #fff;
  width: 300px;
  z-index: 100;
  overflow-y: visible; }
  @media only screen and (min-width: 1200px) {
    aside {
      left: 0;
      overflow-y: scroll; } }

body.is-nav-close header,
body.is-nav-close main,
body.is-nav-close footer {
  padding-left: 300px; }
  @media only screen and (min-width: 1200px) {
    body.is-nav-close header,
    body.is-nav-close main,
    body.is-nav-close footer {
      padding-left: 0; } }

body.is-nav-close aside {
  left: 0;
  overflow-y: scroll; }
  @media only screen and (min-width: 1200px) {
    body.is-nav-close aside {
      left: -300px;
      overflow-y: visible; } }

body.is-nav-close .c-side-nav__nav-toggle {
  right: 10px; }
  @media only screen and (min-width: 1200px) {
    body.is-nav-close .c-side-nav__nav-toggle {
      right: -70px; } }
  body.is-nav-close .c-side-nav__nav-toggle .ic {
    transform: rotate(180deg); }

body.is-nav-close header .c-header.is-active {
  width: 100%; }

.headline-lined {
  overflow: hidden;
  text-align: center;
  font-size: 0.875rem;
  margin-bottom: .5rem;
  color: #6c757d; }
  .headline-lined:before {
    content: "";
    display: inline-block;
    height: 8px;
    vertical-align: text-bottom;
    width: 100%;
    margin-left: -100%;
    margin-right: 10px;
    border-top: 1px solid #6c757d; }
  .headline-lined:after {
    content: "";
    display: inline-block;
    height: 8px;
    vertical-align: text-bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #6c757d; }

.bg-dark {
  background-color: #1D1E1F; }

table {
  width: 100%;
  background: #f4f6f8; }

th,
td {
  padding: 1rem;
  border-bottom: 1px solid #fff; }

body td:first-child {
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: #545e67; }

.c-markdown h1 {
  border-bottom: 1px solid #eaeef1;
  padding-bottom: 1rem;
  margin: 2rem 0 1.5rem; }

.c-markdown img {
  width: 100%; }

/* ---------------------------------------------------
Colors
--------------------------------------------------- */
.ide-color-circle {
  border-radius: 6px 6px 0 0;
  height: 140px;
  text-align: center;
  padding-top: 55px; }
  .ide-color-circle + .c-text {
    padding: 12px;
    background: #3c3b3d;
    border-radius: 0 0 6px 6px; }
    .ide-color-circle + .c-text p {
      font-size: 14px;
      color: #fff; }

/* ---------------------------------------------------
Context: light
--------------------------------------------------- */
.ide-color-circle--light {
  color: #fff; }

/* ---------------------------------------------------
Context: dark
--------------------------------------------------- */
.ide-color-circle--dark {
  color: #121212; }

/* ---------------------------------------------------
Icons
--------------------------------------------------- */
.icons {
  column-count: 3;
  column-gap: 20px; }

.icons__item {
  margin-bottom: 20px; }

.icons__item strong {
  font-weight: 500; }

.icons__item,
.icons__item i {
  cursor: pointer; }

.icons__item:hover {
  color: #00693C; }

.icons__item i {
  display: inline-block;
  width: 32px;
  font-size: 24px;
  line-height: 1;
  text-align: center; }

.icons__item span {
  display: inline-block;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.1; }

/* ===================================================
COMPONENT HEADER COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-component-header {
  position: relative;
  padding-bottom: 1rem;
  margin-top: 6rem;
  min-height: 50px; }
  @media only screen and (min-width: 1200px) {
    .c-component-header {
      margin-top: 2rem; } }
  .c-component-header .c-cta {
    padding: .5rem 1rem;
    border: 2px solid #efefef;
    border-radius: 9px;
    color: #3f3d56;
    font-size: 0.875rem;
    background-color: #fff;
    box-shadow: none; }
    .c-component-header .c-cta:before {
      content: none; }
    .c-component-header .c-cta.is-active {
      border-color: #706d8e; }
    .c-component-header .c-cta:hover {
      border-color: #706d8e; }

.c-component-header__action-wrapper {
  display: flex;
  align-items: center;
  min-height: 34px;
  position: fixed;
  z-index: 99; }

.c-component-header__fixed {
  position: fixed;
  display: flex;
  align-items: center;
  right: 1rem;
  top: 2rem;
  z-index: 99; }
  .c-component-header__fixed .c-component-header__cta-wrapper {
    margin-right: 12px; }

.c-switch-fancy .c-switch-fancy__input {
  position: absolute;
  left: -999em; }

.c-switch-fancy .c-switch-fancy__toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 72px;
  height: 36px;
  background-color: #6abde3;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.c-switch-fancy .c-switch-fancy__toggle-handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 30px;
  height: 30px;
  background-color: #ffda72;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg); }
  .c-switch-fancy .c-switch-fancy__toggle-handler .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%; }
  .c-switch-fancy .c-switch-fancy__toggle-handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px; }
  .c-switch-fancy .c-switch-fancy__toggle-handler .crater--2 {
    top: 18px;
    left: 17px;
    width: 6px;
    height: 6px; }
  .c-switch-fancy .c-switch-fancy__toggle-handler .crater--3 {
    top: 8px;
    left: 20px;
    width: 8px;
    height: 8px; }

.c-switch-fancy .star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%; }

.c-switch-fancy .star--1 {
  top: 5px;
  left: 33px;
  z-index: 0;
  width: 30px;
  height: 3px; }

.c-switch-fancy .star--2 {
  top: 11px;
  left: 24px;
  z-index: 1;
  width: 30px;
  height: 3px; }

.c-switch-fancy .star--3 {
  top: 20px;
  left: 37px;
  z-index: 0;
  width: 30px;
  height: 3px; }

.c-switch-fancy .star--4,
.c-switch-fancy .star--5,
.c-switch-fancy .star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.c-switch-fancy .star--4 {
  top: 10px;
  left: 8px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0); }

.c-switch-fancy .star--5 {
  top: 25px;
  left: 15px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0); }

.c-switch-fancy .star--6 {
  top: 28px;
  left: 25px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0); }

.c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle {
  background-color: #749DD6; }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .c-switch-fancy__toggle-handler {
    background-color: #FFF6CC;
    transform: translate3d(36px, 0, 0) rotate(0); }
    .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .c-switch-fancy__toggle-handler .crater {
      opacity: 1; }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--1 {
    width: 2px;
    height: 2px; }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0); }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0); }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--4,
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--5,
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  .c-switch-fancy .c-switch-fancy__input:checked + .c-switch-fancy__toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }

/* ===================================================
FIGMA COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-figma {
  position: relative;
  width: 100%;
  height: 450px; }
  .c-figma .c-figma__native {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }
  .c-figma .cookieconsent-optout-marketing {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: repeating-linear-gradient(45deg, #F7F6F4, #F7F6F4 10px, #ffffff 10px, #ffffff 20px); }

/* ===================================================
Footer COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-footer {
  position: relative;
  background: #121212; }

.c-footer__logo-wrapper {
  max-width: 30px; }
  @media only screen and (min-width: 768px) {
    .c-footer__logo-wrapper {
      max-width: 120px; } }

.c-footer__back-to-top-wrapper {
  margin-top: 3rem; }
  @media only screen and (min-width: 657px) {
    .c-footer__back-to-top-wrapper {
      margin-top: auto; } }

.c-footer__address-wrapper,
.c-footer__social-list-wrapper {
  margin-bottom: 3rem; }

.c-footer__brand-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: 3rem; }
  @media only screen and (min-width: 657px) {
    .c-footer__brand-wrapper {
      padding-bottom: 0; } }

.c-footer__nav-list {
  padding-left: 0; }

.c-footer__nav-list-item {
  display: inline-block;
  margin-right: 2rem; }
  .c-footer__nav-list-item a {
    color: #fff;
    text-decoration: none;
    font-weight: 400; }
    .c-footer__nav-list-item a:hover {
      color: #d9d9d9; }
    .c-footer__nav-list-item a:focus {
      color: #fff; }

/*# sourceMappingURL=ide-editmode.css.map */