/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT COPY
=================================================== */
/* ===================================================
COMPONENT UPLOAD
=================================================== */
/* ===================================================
COMPONENT MESSAGE
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
LABEL COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-label {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 400; }

/* ---------------------------------------------------
Context: radio
--------------------------------------------------- */
.c-label--radio {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .5rem; }

/* ---------------------------------------------------
Context: checkbox
--------------------------------------------------- */
.c-label--checkbox {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: .5rem; }

/* ---------------------------------------------------
Context: select
--------------------------------------------------- */
.c-label--select {
  display: block; }

/* ---------------------------------------------------
Context: select
--------------------------------------------------- */
.c-label--switch {
  margin: 0 0 0 12px; }

/* ---------------------------------------------------
Context: color schemes
--------------------------------------------------- */
.cs-light .c-label, .cs-light.c-label {
  color: #fff; }
