/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/******************************************************

    DYNAMIC THEME

******************************************************/
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ===================================================
COMPONENT CARD
=================================================== */
/* ===================================================
COMPONENT CHIPS
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
hero COMPONENT
=================================================== */
/* ===================================================
GRID
=================================================== */
/* ================================================ */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-hero {
  position: relative;
  width: 100%;
  min-height: 670px;
  height: 100%;
  padding: 3rem 0;
  background-color: #00B4F0;
  display: flex;
  align-items: flex-end; }

.c-hero__content-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }
  @media only screen and (min-width: 480px) {
    .c-hero__content-container {
      max-width: 100%; } }
  @media only screen and (min-width: 1440px) {
    .c-hero__content-container {
      max-width: 1440px; } }
  @media only screen and (min-width: 0) {
    .c-hero__content-container {
      padding-left: 24px;
      padding-right: 24px; } }
  @media only screen and (min-width: 768px) {
    .c-hero__content-container {
      padding-left: 48px;
      padding-right: 48px; } }
  @media only screen and (min-width: 1200px) {
    .c-hero__content-container {
      padding-left: 120px;
      padding-right: 120px; } }
  @media only screen and (min-width: 1440px) {
    .c-hero__content-container {
      padding-left: 160px;
      padding-right: 160px; } }

.c-hero__content {
  display: flex;
  flex-wrap: wrap;
  height: 100%; }
  @media only screen and (min-width: 0) {
    .c-hero__content {
      margin-right: -8px;
      margin-left: -8px; } }
  @media only screen and (min-width: 768px) {
    .c-hero__content {
      margin-right: -12px;
      margin-left: -12px; } }
  @media only screen and (min-width: 1200px) {
    .c-hero__content {
      margin-right: -16px;
      margin-left: -16px; } }

.c-hero__text-container {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  order: 1; }
  @media only screen and (min-width: 992px) {
    .c-hero__text-container {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 30px;
      padding-left: 30px;
      order: 0; } }

.c-hero__picture-container {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  order: 0;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 992px) {
    .c-hero__picture-container {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 30px;
      padding-left: 30px;
      order: 1;
      margin-bottom: 0; } }

.c-hero__text-wrapper {
  margin-bottom: 2rem; }

.c-hero__background-img {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }
  .c-hero__background-img.is-desktop {
    display: none; }
    @media only screen and (min-width: 768px) {
      .c-hero__background-img.is-desktop {
        display: block; } }
  .c-hero__background-img.is-mobile {
    display: block; }
    @media only screen and (min-width: 768px) {
      .c-hero__background-img.is-mobile {
        display: none; } }
  .c-hero__background-img + .c-hero__content-container .c-hero__headline,
  .c-hero__background-img + .c-hero__content-container .c-hero__subheadline {
    color: #fff; }

.c-hero__headline {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #121212; }
  @media only screen and (min-width: 480px) {
    .c-hero__headline {
      font-size: 3rem; } }
  @media only screen and (min-width: 576px) {
    .c-hero__headline {
      font-size: 3.5rem; } }

.c-hero__subheadline {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  color: #121212; }
  @media only screen and (min-width: 480px) {
    .c-hero__subheadline {
      font-size: 1.75rem; } }
  @media only screen and (min-width: 576px) {
    .c-hero__subheadline {
      font-size: 2rem; } }

/* ---------------------------------------------------
Context: text-picture
--------------------------------------------------- */
.c-hero--text-picture {
  align-items: center; }

/* ---------------------------------------------------
Context: carousel
--------------------------------------------------- */
.c-hero--carousel {
  padding-bottom: 8rem; }

/*# sourceMappingURL=hero-dynamic.css.map */