/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT COPY
=================================================== */
/* ===================================================
COMPONENT UPLOAD
=================================================== */
/* ===================================================
COMPONENT MESSAGE
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
FORM COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-form .is-error {
  display: block; }

.c-form__label {
  margin-bottom: .5rem;
  color: #121212; }

.c-form__error {
  display: none;
  color: #EE7555;
  margin-top: 6px; }

.c-form__input {
  width: 100%;
  font-weight: 400;
  border: 1px solid #121212;
  border-radius: 3px;
  background-color: #fff;
  color: #121212;
  padding: 1rem; }
  .c-form__input::placeholder {
    opacity: .5; }
  .c-form__input:focus, .c-form__input:invalid, .c-form__input:focus:invalid {
    outline: none !important;
    border-color: #00693C; }
  .c-form__input.edge-autofilled {
    background: rgba(255, 255, 255, 0.2) !important;
    color: #EE7555 !important; }
  .c-form__input.is-error {
    border: 1px solid #EE7555; }
    .c-form__input.is-error + .c-form__error {
      display: block; }

textarea.c-form__input {
  min-height: 150px; }

.c-form__input-item {
  margin-bottom: 1rem; }

.c-form__label-wrapper {
  margin: .5rem 0; }

.c-form__input-wrapper {
  position: relative; }

.c-form__response {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #00693C;
  color: #fff; }
  .c-form__response.is-hidden {
    display: none; }

/* ---------------------------------------------------
Context: color schemes
--------------------------------------------------- */
.cs-light .c-form .c-form__label, .cs-light.c-form .c-form__label {
  color: #fff; }
