/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/******************************************************

    MAIN THEME

******************************************************/
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ===================================================
COMPONENT CARD
=================================================== */
/* ===================================================
COMPONENT CHIPS
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
TEXT COMPONENT
=================================================== */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-text {
  position: relative;
  color: #121212; }
  .c-text ol,
  .c-text ul {
    position: relative;
    padding-left: 20px; }
    .c-text ol li,
    .c-text ul li {
      position: relative;
      font-size: 1rem;
      line-height: 1.3; }
      @media only screen and (min-width: 576px) {
        .c-text ol li,
        .c-text ul li {
          line-height: 1.4; } }
    .c-text ol.check-style,
    .c-text ul.check-style {
      padding-left: 25px; }
      .c-text ol.check-style li,
      .c-text ul.check-style li {
        list-style: none; }
        .c-text ol.check-style li::before,
        .c-text ul.check-style li::before {
          position: absolute;
          content: url("data:image/svg+xml; utf8, <svg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.75 6.603L4.211 10.506L12.864 0.75' stroke='%2300693C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg> ");
          display: inline-block;
          color: #121212;
          transform: translateX(-1.5rem) translateY(0rem); }
  .c-text p,
  .c-text ul {
    margin-bottom: 1rem; }
    .c-text p:last-child,
    .c-text ul:last-child {
      margin-bottom: 0; }
  .c-text a:not(.c-cta) {
    color: #006A3A;
    text-decoration: none;
    font-weight: 400; }
    .c-text a:not(.c-cta):hover {
      color: #005C34; }
    .c-text a:not(.c-cta):focus {
      color: #005C34; }
  .c-text code {
    color: #00B4F0;
    background-color: #f1f1f1;
    padding: 2px; }

small {
  font-size: 0.875rem;
  line-height: 1.25rem; }

/* ---------------------------------------------------
Context: center
--------------------------------------------------- */
.c-text--center {
  text-align: center; }

/* ---------------------------------------------------
Context: right
--------------------------------------------------- */
.c-text--right {
  text-align: right; }

/* ---------------------------------------------------
Context: card
--------------------------------------------------- */
.c-text--card p {
  font-size: 1.125rem;
  line-height: 1.3; }
  @media only screen and (min-width: 576px) {
    .c-text--card p {
      font-size: 1.25rem;
      line-height: 1.4; } }

/* ---------------------------------------------------
Context: box
--------------------------------------------------- */
.c-text--box {
  background: #F7F6F4;
  padding: 40px; }
  .c-text--box p {
    font-size: 1.125rem;
    line-height: 1.3; }
    @media only screen and (min-width: 576px) {
      .c-text--box p {
        font-size: 1.25rem;
        line-height: 1.4; } }
  @media only screen and (min-width: 992px) {
    .c-text--box {
      padding: 44px 96px; } }

/* ---------------------------------------------------
Context: box-alert
--------------------------------------------------- */
.c-text--box-alert {
  background: #F7F6F4;
  border: 1px solid #F07855;
  padding: 44px 35px;
  display: flex; }
  .c-text--box-alert p {
    font-size: 1.125rem;
    line-height: 1.3; }
    @media only screen and (min-width: 576px) {
      .c-text--box-alert p {
        font-size: 1.25rem;
        line-height: 1.4; } }
  .c-text--box-alert .c-text__icon-wrapper {
    margin-right: 28px; }
    .c-text--box-alert .c-text__icon-wrapper .ic {
      font-size: 1.75rem;
      color: #F07855; }
  .c-text--box-alert .c-text__close-wrapper {
    position: absolute;
    top: 16px;
    right: 16px; }
    .c-text--box-alert .c-text__close-wrapper .ic {
      font-size: 1.75rem;
      color: #F07855; }

/* ---------------------------------------------------
Context: color schemes
--------------------------------------------------- */
.cs-light .c-text, .cs-light.c-text {
  color: #fff; }
  .cs-light .c-text ul li::before, .cs-light.c-text ul li::before {
    color: #fff; }
  .cs-light .c-text a, .cs-light.c-text a {
    color: #fff; }
    .cs-light .c-text a:hover, .cs-light.c-text a:hover {
      color: #fff; }
    .cs-light .c-text a:focus, .cs-light.c-text a:focus {
      color: #fff; }
  .cs-light .c-text code, .cs-light.c-text code {
    color: #5285ca;
    background-color: #0d131e; }
