/* ===================================================
CAROUSEL IMPORTS
=================================================== */
/* ===================================================
COMPONENT BASICS
=================================================== */
/* ===================================================
REM-CALC
=================================================== */
/******************************************************

    PROFESSIONAL THEME

******************************************************/
/* ===================================================
COLOR DEFINITIONS
=================================================== */
/* ===================================================
FONT SETTINGS
=================================================== */
/* define font cuts: sans-serif */
/* define font cuts: sans-serif */
/* ===================================================
BASIC SETTINGS
=================================================== */
/* ===================================================
TYPE SETTINGS
=================================================== */
/* ===================================================
LINK SETTINGS
=================================================== */
/* ===================================================
CTA SETTINGS
=================================================== */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ===================================================
BACKGROUND
=================================================== */
/* ===================================================
COLOR SETTINGS
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
COMPONENT ACCORDION
=================================================== */
/* ===================================================
COMPONENT BURGER
=================================================== */
/* ===================================================
COMPONENT HEADER
=================================================== */
/* ===================================================
COMPONENT NAV
=================================================== */
/* ===================================================
COMPONENT HERO
=================================================== */
/* ===================================================
COMPONENT QUOTE
=================================================== */
/* ===================================================
COMPONENT CARD
=================================================== */
/* ===================================================
COMPONENT CHIPS
=================================================== */
/* ================================================ */
/* ===================================================
BREAKPOINTS
=================================================== */
/* ================================================ */
/* ===================================================
SPACING
=================================================== */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ===================================================
LINKS
=================================================== */
/* ================================================ */
/* ===================================================
TYPOGRAPHY SIZE
=================================================== */
/* ================================================ */
/* ================================================ */
/* ===================================================
CHIP COMPONENT
=================================================== */
/* ------------------------------------------------- */
/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
.c-chips {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.c-chips__item {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid;
  border-radius: 20px;
  transition: all 0.4s ease 0s;
  text-shadow: none;
  text-align: center;
  padding: 0 12px;
  font-size: 1rem;
  line-height: 1;
  color: #121212;
  text-decoration: none;
  font-weight: 700;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  margin-right: 4px;
  margin-bottom: 4px; }
  .c-chips__item:hover {
    color: #121212; }
  .c-chips__item:focus {
    color: #fff; }
  .c-chips__item:hover {
    background-color: #E1E1E1; }
  .c-chips__item:focus {
    background-color: #003245; }
  .c-chips__item:hover {
    border-color: #E1E1E1; }
  .c-chips__item:focus {
    border-color: #003245; }
  @media only screen and (min-width: 480px) {
    .c-chips__item {
      margin-right: 8px; } }
  @media only screen and (min-width: 576px) {
    .c-chips__item {
      margin-right: 8px; } }
  @media only screen and (min-width: 768px) {
    .c-chips__item {
      margin-right: 12px; } }
  @media only screen and (min-width: 992px) {
    .c-chips__item {
      margin-right: 16px; } }
  @media only screen and (min-width: 480px) {
    .c-chips__item {
      margin-bottom: 8px; } }
  @media only screen and (min-width: 576px) {
    .c-chips__item {
      margin-bottom: 8px; } }
  @media only screen and (min-width: 768px) {
    .c-chips__item {
      margin-bottom: 12px; } }
  @media only screen and (min-width: 992px) {
    .c-chips__item {
      margin-bottom: 16px; } }
  .c-chips__item:focus {
    outline: 0; }
  .c-chips__item.is-active {
    background-color: #003245;
    color: #fff;
    border-color: #003245; }

.c-chips__text {
  padding: 10px 0; }

.c-chips__image {
  width: 30px;
  height: 30px;
  margin-left: -12px;
  margin-right: 8px; }

.c-chips__icon-left {
  margin-right: 6px;
  font-size: 24px; }

.c-chips__icon-right {
  margin-left: 6px;
  font-size: 24px; }

/* ---------------------------------------------------
Context: filter
--------------------------------------------------- */
.c-chips--filter .c-chips__icon-right,
.c-chips--filter .c-chips__icon-left {
  display: none; }

.c-chips--filter .c-chips__item.is-active .c-chips__icon-left {
  display: block; }

/* ---------------------------------------------------
Context: tags
--------------------------------------------------- */
.c-chips--tags .c-chips__text {
  padding: 8px 0; }

.c-chips--tags .c-chips__item {
  border-width: 1px;
  color: #121212;
  text-decoration: none;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #121212; }
  .c-chips--tags .c-chips__item:hover {
    color: #121212; }
  .c-chips--tags .c-chips__item:focus {
    color: #121212; }
  .c-chips--tags .c-chips__item:hover {
    background-color: white; }
  .c-chips--tags .c-chips__item:focus {
    background-color: white; }
  .c-chips--tags .c-chips__item:hover {
    border-color: #121212; }
  .c-chips--tags .c-chips__item:focus {
    border-color: #121212; }

/* ---------------------------------------------------
Context: color schemes
--------------------------------------------------- */
.cs-light .c-chips .c-chips__item, .cs-light.c-chips .c-chips__item {
  color: #fff;
  background-color: #545e67;
  border-color: #545e67; }
  .cs-light .c-chips .c-chips__item:hover, .cs-light.c-chips .c-chips__item:hover {
    color: #fff; }
  .cs-light .c-chips .c-chips__item:focus, .cs-light.c-chips .c-chips__item:focus {
    color: #fff; }
  .cs-light .c-chips .c-chips__item:hover, .cs-light.c-chips .c-chips__item:hover {
    background-color: #00B4F0; }
  .cs-light .c-chips .c-chips__item:focus, .cs-light.c-chips .c-chips__item:focus {
    background-color: #00B4F0; }
  .cs-light .c-chips .c-chips__item:hover, .cs-light.c-chips .c-chips__item:hover {
    border-color: #00B4F0; }
  .cs-light .c-chips .c-chips__item:focus, .cs-light.c-chips .c-chips__item:focus {
    border-color: #00B4F0; }
